Version 1.1.0

# Mean encodings

In this programming assignment you will be working with `1C` dataset from the final competition. You are asked to encode `item_id` in 4 different ways:

    1) Via KFold scheme;  
    2) Via Leave-one-out scheme;
    3) Via smoothing scheme;
    4) Via expanding mean scheme.

**You will need to submit** the correlation coefficient between resulting encoding and target variable up to 4 decimal places.

### General tips

* Fill NANs in the encoding with `0.3343`.
* Some encoding schemes depend on sorting order, so in order to avoid confusion, please use the following code snippet to construct the data frame. This snippet also implements mean encoding without regularization.

In [50]:
import pandas as pd
import numpy as np
from itertools import product
from grader import Grader

# Read data

In [30]:
sales = pd.read_csv('../readonly/final_project_data/sales_train.csv.gz')

In [31]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

# Aggregate data

Since the competition task is to make a monthly prediction, we need to aggregate the data to montly level before doing any encodings. The following code-cell serves just that purpose.

In [32]:
index_cols = ['shop_id', 'item_id', 'date_block_num']

# For every month we create a grid from all shops/items combinations from that month
grid = [] 
for block_num in sales['date_block_num'].unique():
    cur_shops = sales[sales['date_block_num']==block_num]['shop_id'].unique()
    cur_items = sales[sales['date_block_num']==block_num]['item_id'].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

#turn the grid into pandas dataframe
grid = pd.DataFrame(np.vstack(grid), columns = index_cols,dtype=np.int32)

#get aggregated values for (shop_id, item_id, month)
#gb = sales.groupby(index_cols,as_index=False).agg({'item_cnt_day':{'target':'sum'}})
gb = sales.groupby(index_cols,as_index=False)['item_cnt_day'].agg({'target':'sum'})
#fix column names
#gb.columns = [col[0] if col[-1]=='' else col[-1] for col in gb.columns.values]
#join aggregated data to the grid
all_data = pd.merge(grid,gb,how='left',on=index_cols).fillna(0)
#sort the data
all_data.sort_values(['date_block_num','shop_id','item_id'],inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4658: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [36]:
print(grid.head())
print(gb.head())

   shop_id  item_id  date_block_num
0       59    22154               0
1       59     2552               0
2       59     2554               0
3       59     2555               0
4       59     2564               0
   shop_id  item_id  date_block_num  target
0        0       30               1    31.0
1        0       31               1    11.0
2        0       32               0     6.0
3        0       32               1    10.0
4        0       33               0     3.0

In [34]:
all_data.head()

        shop_id  item_id  date_block_num  target
139255        0       19               0     0.0
141495        0       27               0     0.0
144968        0       28               0     0.0
142661        0       29               0     0.0
138947        0       32               0     6.0

# Mean encodings without regularization

After we did the techinical work, we are ready to actually *mean encode* the desired `item_id` variable. 

Here are two ways to implement mean encoding features *without* any regularization. You can use this code as a starting point to implement regularized techniques.

#### Method 1

In [38]:
all_data.groupby('item_id').head()

          shop_id  item_id  date_block_num  target  item_target_enc
139255          0       19               0     0.0         0.022222
141495          0       27               0     0.0         0.056834
144968          0       28               0     0.0         0.141176
142661          0       29               0     0.0         0.037383
138947          0       32               0     6.0         1.319042
138948          0       33               0     3.0         0.527112
138949          0       34               0     0.0         0.146108
139247          0       35               0     1.0         0.944681
142672          0       40               0     0.0         0.070943
142065          0       41               0     0.0         0.085828
139208          0       42               0     0.0         0.070596
142670          0       43               0     1.0         0.032847
139207          0       44               0     0.0         0.086773
138950          0       45               0     0.0         0.110971
143764          0       46               0     0.0         0.058450
141505          0       47               0     0.0         0.076040
139199          0       48               0     0.0         0.069005
138952          0       49               0     0.0         0.116646
139176          0       50               0     0.0         0.044444
138951          0       51               0     2.0         0.148802
139177          0       52               0     0.0         0.067236
139178          0       53               0     0.0         0.119798
139179          0       54               0     0.0         0.073126
143769          0       55               0     0.0         0.112575
142671          0       56               0     0.0         0.052989
144539          0       57               0     0.0         0.098361
139180          0       59               0     0.0         0.157485
138953          0       60               0     0.0         0.071168
144265          0       61               0     1.0         0.043796
141744          0       63               0     0.0         0.056250
...           ...      ...             ...     ...              ...
10742850        6    21450              33     0.0         0.227273
10742855        6    21548              33     2.0         0.795455
10745427        6    21593              33     1.0         0.022727
10742654        6    21604              33     0.0         0.159091
10743660        6    21664              33     0.0         0.045455
10745028        6    21936              33     0.0         0.681818
10745029        6    21938              33     0.0         0.295455
10745030        6    21939              33     0.0         0.340909
10745031        6    21940              33     0.0         0.318182
10745032        6    21941              33     0.0         0.681818
10741038        6    21942              33     2.0         2.022727
10745023        6    21943              33     0.0         0.454545
10745016        6    21944              33     0.0         0.340909
10745017        6    21945              33     0.0         0.681818
10745018        6    21946              33     0.0         0.136364
10745019        6    21947              33     0.0         0.227273
10742907        6    21948              33     0.0         0.136364
10745020        6    21949              33     0.0         0.227273
10745021        6    21950              33     0.0         0.340909
10745022        6    21951              33     0.0         0.227273
10743103        6    21954              33     0.0         0.250000
10745042        6    21957              33     0.0         0.363636
10745413        6    21958              33     0.0         0.068182
10745043        6    21971              33     0.0         0.340909
10745044        6    21972              33     0.0         0.340909
10742898        6    21973              33     0.0         0.250000
10740800        6    22004              33     1.0         1.000000
10741762        6    22005              33     0.0         0.681818
10741763        6    22006              33     1.0         0.681818
10742639        6    22158              33     0.0         0.022727

[109035 rows x 5 columns]

In [42]:
all_data.groupby('item_id').target.mean

In [37]:
# Calculate a mapping: {item_id: target_mean}
item_id_target_mean = all_data.groupby('item_id').target.mean()

# In our non-regularized case we just *map* the computed means to the `item_id`'s
all_data['item_target_enc'] = all_data['item_id'].map(item_id_target_mean)

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

0.4830386988621791

#### Method 2

In [46]:
'''
     Differently to `.target.mean()` function `transform` 
   will return a dataframe with an index like in `all_data`.
   Basically this single line of code is equivalent to the first two lines from of Method 1.
'''
all_data['item_target_enc'] = all_data.groupby('item_id')['target'].transform('mean')

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

-0.0002443137972453255

See the printed value? It is the correlation coefficient between the target variable and your new encoded feature. You need to **compute correlation coefficient** between the encodings, that you will implement and **submit those to coursera**.

In [52]:
grader = Grader()

# 1. KFold scheme

Explained starting at 41 sec of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

**Now it's your turn to write the code!** 

You may use 'Regularization' video as a reference for all further tasks.

First, implement KFold scheme with five folds. Use KFold(5) from sklearn.model_selection. 

1. Split your data in 5 folds with `sklearn.model_selection.KFold` with `shuffle=False` argument.
2. Iterate through folds: use all but the current fold to calculate mean target for each level `item_id`, and  fill the current fold.

    *  See the **Method 1** from the example implementation. In particular learn what `map` and pd.Series.map functions do. They are pretty handy in many situations.

In [54]:
# YOUR CODE GOES HERE
from sklearn.model_selection import KFold
kf = KFold(n_splits =5, shuffle = False)
for train_index, val_index in kf.split(all_data):
    X_tr, X_val = all_data.iloc[train_index], all_data.iloc[val_index]
    item_id_target_mean = X_tr.groupby('item_id').target.mean()
    X_val["item_target_enc"] = X_val["item_id"].map(item_id_target_mean)
    all_data.iloc[val_index] = X_val

all_data["item_target_enc"].fillna(0.3343, inplace=True) 
encoded_feature = all_data["item_target_enc"]

# You will need to compute correlation like that
corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('KFold_scheme', corr)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

0.41645907127988024
Current answer for task KFold_scheme is: 0.41645907127988024

# 2. Leave-one-out scheme

Now, implement leave-one-out scheme. Note that if you just simply set the number of folds to the number of samples and run the code from the **KFold scheme**, you will probably wait for a very long time. 

To implement a faster version, note, that to calculate mean target value using all the objects but one *given object*, you can:

1. Calculate sum of the target values using all the objects.
2. Then subtract the target of the *given object* and divide the resulting value by `n_objects - 1`. 

Note that you do not need to perform `1.` for every object. And `2.` can be implemented without any `for` loop.

It is the most convenient to use `.transform` function as in **Method 2**.

In [57]:
# YOUR CODE GOES HERE
target_sum = all_data.groupby("item_id")["target"].transform("sum")
n_objects = all_data.groupby("item_id")["target"].transform('count')
all_data["item_target_enc"] = (target_sum - all_data["target"])/(n_objects-1)

all_data["item_target_enc"].fillna(0.3343, inplace=True)
encoded_feature = all_data["item_target_enc"]
corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Leave-one-out_scheme', corr)

0.480384831129305
Current answer for task Leave-one-out_scheme is: 0.480384831129305

# 3. Smoothing

Explained starting at 4:03 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Next, implement smoothing scheme with $\alpha = 100$. Use the formula from the first slide in the video and $0.3343$ as `globalmean`. Note that `nrows` is the number of objects that belong to a certain category (not the number of rows in the dataset).

In [60]:
# YOUR CODE GOES HERE
globalmean = 0.3343
alpha = 100
target_mean = all_data.groupby('item_id')['target'].transform('mean')
nrows = all_data.groupby('item_id')['target'].transform('count')
all_data['item_target_enc'] = (target_mean* nrows + globalmean * alpha) / (nrows + alpha)
all_data['item_target_enc'].fillna(globalmean, inplace= True)
encoded_feature = all_data['item_target_enc']

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Smoothing_scheme', corr)

0.4818198797097282
Current answer for task Smoothing_scheme is: 0.4818198797097282

# 4. Expanding mean scheme

Explained starting at 5:50 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Finally, implement the *expanding mean* scheme. It is basically already implemented for you in the video, but you can challenge yourself and try to implement it yourself. You will need [`cumsum`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.cumsum.html) and [`cumcount`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.GroupBy.cumcount.html) functions from pandas.

In [63]:
# YOUR CODE GOES HERE

csum = all_data.groupby('item_id')['target'].cumsum() - all_data['target']
cumcnt = all_data.groupby('item_id')['target'].cumcount()
all_data['item_target_enc'] = csum/cumcnt

all_data['item_target_enc'].fillna(globalmean, inplace = True)
encoded_feature = all_data['item_target_enc']
corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Expanding_mean_scheme', corr)

0.5025245211081701
Current answer for task Expanding_mean_scheme is: 0.5025245211081701

## Authorization & Submission
To submit assignment parts to Cousera platform, please, enter your e-mail and token into variables below. You can generate token on this programming assignment page. Note: Token expires 30 minutes after generation.

In [64]:
STUDENT_EMAIL = "calmly@yeah.net"
STUDENT_TOKEN = "W9ATrxUfQQu3T7DE"
grader.status()

You want to submit these numbers:
Task KFold_scheme: 0.41645907127988024
Task Leave-one-out_scheme: 0.480384831129305
Task Smoothing_scheme: 0.4818198797097282
Task Expanding_mean_scheme: 0.5025245211081701

In [65]:
grader.submit(STUDENT_EMAIL, STUDENT_TOKEN)

Submitted to Coursera platform. See results on assignment page!